$font-stack-Roboto: 'Roboto', 'san-serif';
$font-stack-FirsNeue: 'TT Firs Neue', 'san-serif';
$color1: #ffffff;
$color2: #202020;
$color-gray: #cacaca;
$color-hover: #FF6E30;
$color-focus: #BC572B;
$color-active: #CE4307;


